body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    background-color: var(--blue-2);
    color: var(--blue-12);
}
.square {
    box-shadow: inset 0 0 0 2px var(--blue-9);
    border-radius: 5px;
}
.demo-square {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}
.demo-square > p{
    margin: 10px;
    text-align: center;
}
#div_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#div_container > div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
main {
    display: flex;
    position: relative ;
}
fieldset, hr {
    border-style: solid;
    border-color: var(--blue-9);
}
fieldset {
    border-radius: 5px;
    margin-right: 10vw;
}
label {
    display: block;
}
output {
    display: inline-block;
    width: 5em;
    text-align: right;
}
.fullscreen {
    height: 100vh;
    overflow: hidden;
}